.defaultTile {
  @apply grid place-items-center rounded-md border-2 border-solid border-slate-600;
  @apply sm:text-4xl font-bold uppercase sm:h-20 sm:w-20 h-12 w-12 text-3xl;
}

.tile-transition-0 {
  transition-delay: 200ms;
  animation-delay: 200ms;
}

.tile-transition-1 {
  transition-delay: 600ms;
  animation-delay: 600ms;
}

.tile-transition-2 {
  transition-delay: 1000ms;
  animation-delay: 1000ms;
}

.tile-transition-3 {
  transition-delay: 1400ms;
  animation-delay: 1400ms;
}

.tile-transition-4 {
  transition-delay: 1800ms;
  animation-delay: 1800ms;
}

.bounce {
  @apply animate-bounce;
}

.correct {
  @apply defaultTile animate-tiles;
  @apply bg-emerald-600 border-emerald-700;
}

.incorrectPos {
  @apply defaultTile animate-tiles;
  @apply bg-yellow-600 border-yellow-700;
}

.incorrectLetter {
  @apply defaultTile animate-tiles;
  @apply bg-gray-600 border-gray-700;
}