:root {
  --start-delay: 100ms;
  --duration: 500ms;
  --total-duration: calc(var(--start-delay) + var(--duration) * 5);
}

.defaultTile {
  @apply grid place-items-center rounded-md border-2 border-solid border-slate-600;
  @apply h-12 w-12 text-3xl font-bold uppercase sm:h-20 sm:w-20 sm:text-4xl;
}

.tile-transition-0 {
  --delay: calc(var(--start-delay));
  transition-delay: var(--delay);
  animation-delay: var(--delay), var(--total-duration) !important;
}

.tile-transition-1 {
  --delay: calc(var(--start-delay) + var(--duration));
  transition-delay: var(--delay);
  animation-delay: var(--delay), var(--total-duration) !important;
}

.tile-transition-2 {
  --delay: calc(var(--start-delay) + var(--duration) * 2);
  transition-delay: var(--delay);
  animation-delay: var(--delay), var(--total-duration) !important;
}

.tile-transition-3 {
  --delay: calc(var(--start-delay) + var(--duration) * 3);
  transition-delay: var(--delay);
  animation-delay: var(--delay), var(--total-duration) !important;
}

.tile-transition-4 {
  --delay: calc(var(--start-delay) + var(--duration) * 4);
  transition-delay: var(--delay);
  animation-delay: var(--delay), var(--total-duration) !important;
}

.win-animation {
  animation: spin var(--duration) linear, bounce 600ms infinite;
}

.win {
  @apply defaultTile win-animation;
  @apply border-emerald-700 bg-emerald-600;
}

.correct {
  @apply defaultTile animate-spin;
  @apply border-emerald-700 bg-emerald-600;
}

.incorrectPos {
  @apply defaultTile animate-spin;
  @apply border-yellow-700 bg-yellow-600;
}

.incorrectLetter {
  @apply defaultTile animate-spin;
  @apply border-gray-700 bg-gray-600;
}

.how-to-play-default-tile {
  @apply mr-0.5 flex-1 place-items-center rounded-md border-2;
  @apply border-gray-700 bg-gray-600 border-solid pt-2 text-sm;
  @apply font-bold uppercase text-white;
}

.how-to-play-correct-tile {
  @apply how-to-play-default-tile;
  @apply border-emerald-700 bg-emerald-600;
}

.how-to-play-incorrect-tile {
  @apply how-to-play-default-tile;
  @apply border-yellow-700 bg-yellow-600;
}

@keyframes spin {
  0% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(-90deg);
  }
}
.animate-spin {
  animation: spin var(--duration) linear;
}

@keyframes bounce {
  0% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

@keyframes modal-show {
  0% {
    top: -2em;
    opacity: 60%;
  }
  100% {
    top: 0;
  }
}

@keyframes modal-close {
  0% {
    top: 0em;
    opacity: 100%;
  }
  100% {
    top: -6em;
    opacity: 60%;
  }
}

.animate-modal-show {
  animation: modal-show 500ms ease-out;
}

.animate-modal-close {
  animation: modal-close 500ms ease-out;
}